{{#if (eq ext 'tsx')}}
import { FC, Fragment, createElement as h } from 'react';
import { Helmet } from 'react-helmet-async';
import { PageProps } from '@not-govuk/app-composer';
{{#if query}}
import { useLocation } from '@not-govuk/route-utils';
{{/if}}
import config from '../config';

const siteTitle = config.title;

export const title = '{{{ title }}}';
const description = '{{{ description }}}'

{{#if query}}
const Page: FC<PageProps> = () => {
  const location = useLocation();
  const n = Number(location.query['n']) || 0;

  return (
{{else}}
const Page: FC<PageProps> = () => (
{{/if}}
  <Fragment>
    <Helmet>
      <title>{title} - {siteTitle}</title>
      <meta name="description" content={description} />
      <meta name="og:title" content={title} />
      <meta name="og:description" content={description} />
    </Helmet>
    <h1>{title}</h1>
    <p>{description}</p>
{{#if query}}
    <h1>Accessing query parameters</h1>
    <p>n = {n}</p>
    <p><a href={`/{{{ name }}}?n=${n + 1}`}>Next</a></p>
{{/if}}
  </Fragment>
{{#if query}}
  );
};
{{else}}
);
{{/if}}

export default Page;
{{else}}
{{#if (eq ext 'rt')}}
<Helmet>
  <title>{{{ title }}} - {siteTitle}</title>
  <meta name="description" content={{{ description }}} />
  <meta name="og:title" content={{{ title }}} />
  <meta name="og:description" content={{{ description }}} />
</Helmet>
{{/if}}
<h1>{{ title }}</h1>
{{#if description}}
<p>{{ description }}</p>
{{/if}}
{{#if query}}
<h1>Accessing query parameters</h1>
{{#if (eq ext 'rt')}}
<p>n = {location.query['n']}</p>
<p><a href={`/{{{ name }}}?n=${Number(location.query['n'] || 0) + 1}`}>Next</a></p>
{{else}}
<p>Sorry, there is no way to access query parameters from an HTML page. You will need to use React for that.</p>
{{/if}}
{{/if}}
{{/if}}
